Repository jeffreychuuu/kotlin_example_app: changes, and which CircleCI parameters are due for each by the changed paths.
All: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.2
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: master
          mapping: |
            grpc_lib/.* grpc-lib-modified true
            mongo_service/.* mongo-service-modified true
            rdbms_service/.* rdbms-service-modified true
          config-path: .circleci/workflows.yml

update circleci workflow
  .circleci/config.yml
Due: none

update circleci workflow
  .circleci/workflows.yml
Due: none

update circleci workflow
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

update circleci workflow
  .circleci/workflows.yml
  rdbms_service/application.yml
  rdbms_service/build.gradle.kts
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleRestController.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleService.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/GrpcServerService.java
Due: rdbms-service-modified

update circleci workflow - 1
  .circleci/workflows.yml
Due: none

Revert "update circleci workflow - 1"
  .circleci/workflows.yml
Due: none

update circleci workflow - 2
  .circleci/workflows.yml
Due: none

update circleci workflow - 3
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 4
  .circleci/workflows.yml
Due: none

update circleci workflow - 5
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 6
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 7
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 8
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 9
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 10
  .circleci/config.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 11
  .circleci/lib_workflow.yml
  .circleci/services_workflow.yml
Due: none

update circleci workflow - 12
  .circleci/lib_workflow.yml
Due: none

update circleci workflow - 13
  .circleci/config.yml
Due: none

Revert "update circleci workflow - 13"
  .circleci/config.yml
Due: none

Revert "update circleci workflow - 12"
  .circleci/lib_workflow.yml
Due: none

Revert "update circleci workflow - 11"
  .circleci/lib_workflow.yml
  .circleci/services_workflow.yml
Due: none

Revert "update circleci workflow - 10"
  .circleci/config.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 10
  .circleci/workflows.yml
Due: none

update circleci workflow - 11
  .circleci/workflows.yml
Due: none

update circleci workflow - 12
  .circleci/workflows.yml
Due: none

update circleci workflow - 13
  .circleci/workflows.yml
Due: none

update circleci workflow - 14
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

Revert "update circleci workflow - 14"
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 15
  .circleci/workflows.yml
Due: none

update circleci workflow - 16
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 17
  .circleci/workflows.yml
Due: none

update circleci workflow - 18
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

update circleci workflow - 19
  .circleci/workflows.yml
  .gitignore
  rdbms_service/Dockerfile
Due: rdbms-service-modified

update circleci workflow - 20
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

update circleci workflow - 21
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

update circleci workflow - 22
  .circleci/workflows.yml
Due: none

Revert "update circleci workflow - 21"
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified
