Repository jeffreychuuu/kotlin_example_app: changes, and which CircleCI parameters are due for each by the changed paths.
All: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.0.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          name: Decision Making
          base-revision: main
          mapping: |
            grpc_lib/.* grpc-lib-modified true
            mongo_service/.* mongo-service-modified true
            rdbms_service/.* rdbms-service-modified true
          config-path: .circleci/workflows.yml

add cache to circle ci - 2
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

add cache to circle ci - 3
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

add cache to circle ci - 4
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

add cache to circle ci - 5
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

add cache to circle ci - 6
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

add cache to circle ci - 7
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

[success] complete adding cache to gradlew build
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

add cache to circle ci - 8
  .circleci/workflows.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: rdbms-service-modified

add cache to circle ci - 9
  mongo_service/Dockerfile
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

add cache to circle ci - 10
  mongo_service/Dockerfile
Due: mongo-service-modified

use docker executor instead of machine in build
  .circleci/workflows.yml
Due: none

deplopyment test
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

Revert "use docker executor instead of machine in build"
  .circleci/workflows.yml
Due: none

Revert "deplopyment test"
  mongo_service/src/main/kotlin/com/example/mongo_service/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

add kafka support
  .gitignore
  README.md
  mongo_service/application.yml
  mongo_service/build.gradle.kts
  mongo_service/docker-compose.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/AppConfig.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/kafka/KafkaConsumer.kt
  rdbms_service/application.yml
  rdbms_service/docker-compose.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/AppConfig.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleRestController.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/kafka/KafkaRestController.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/kafka/KafkaService.kt
Due: mongo-service-modified, rdbms-service-modified

connect to kafka via cloukarafka service
  README.md
  image/cloud_kafka.png
  image/cloud_kafka_topic.png
  mongo_service/application.yml
  mongo_service/src/main/kotlin/com/example/mongo_service/kafka/KafkaConsumer.kt
  rdbms_service/application.yml
Due: mongo-service-modified, rdbms-service-modified

update README
  README.md
Due: none

test evn sub - 1
  .circleci/workflows.yml
  mongo_service/application.yml
  mongo_service/test.txt
  rdbms_service/application.yml
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 2
  .circleci/workflows.yml
  mongo_service/test.txt
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 3
  .circleci/workflows.yml
Due: none

Revert "test evn sub - 1"
  .circleci/workflows.yml
  mongo_service/application.yml
  mongo_service/test.txt
  rdbms_service/application.yml
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

Revert "test evn sub - 2"
  .circleci/workflows.yml
  mongo_service/test.txt
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

Revert "test evn sub - 3"
  .circleci/workflows.yml
Due: none

test evn sub - 1
  .circleci/workflows.yml
  mongo_service/test.txt
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 3
  .circleci/workflows.yml
  mongo_service/test.txt
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 4
  .circleci/workflows.yml
  mongo_service/test.txt
  rdbms_service/test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 5
  .circleci/workflows.yml
  mongo_service/mongo_test.txt
  rdbms_service/rdbms_test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 6
  .circleci/workflows.yml
Due: none

test evn sub - 7
  .circleci/workflows.yml
  mongo_service/mongo_test.txt
  rdbms_service/rdbms_test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 8
  .circleci/workflows.yml
  mongo_service/mongo_test.txt
  rdbms_service/rdbms_test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 9
  .circleci/workflows.yml
  mongo_service/mongo_test.txt
  rdbms_service/rdbms_test.txt
Due: mongo-service-modified, rdbms-service-modified

test evn sub - 10
  .circleci/workflows.yml
  mongo_service/mongo_test.txt
  rdbms_service/rdbms_test.txt
Due: mongo-service-modified, rdbms-service-modified

update to use graphql-java-kickstart package of graphql
  README.md
  mongo_service/application.yml
  mongo_service/build.gradle.kts
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserMutationResolver.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserQueryResolver.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserService.kt
  mongo_service/src/main/resources/graphql/user.graphqls
  rdbms_service/application.yml
  rdbms_service/build.gradle.kts
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleMutationResolver.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleQueryResolver.kt
  rdbms_service/src/main/resources/graphql/article.graphqls
Due: mongo-service-modified, rdbms-service-modified

use netflix DSG framework to implement graphql
  mongo_service/application.yml
  mongo_service/build.gradle.kts
  mongo_service/gradlew
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserFetcher.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserMutationResolver.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserQueryResolver.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserService.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/dto/CreateUserDto.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/dto/UpdateUserDto.kt
  mongo_service/src/main/resources/schema/user.graphqls
  rdbms_service/application.yml
  rdbms_service/build.gradle.kts
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleFetcher.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleMutationResolver.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleQueryResolver.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleService.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/dto/CreateArticleDto.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/dto/UpdateArticleDto.kt
  rdbms_service/src/main/resources/schema/article.graphqls
Due: mongo-service-modified, rdbms-service-modified

update README with adding Graphql Federation Support
  README.md
  apollo-gateway/.gitignore
  apollo-gateway/LICENSE
  apollo-gateway/apollo-gateway.iml
  apollo-gateway/index.js
  apollo-gateway/package-lock.json
  apollo-gateway/package.json
  mongo_service/build.gradle.kts
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserFetcher.kt
  rdbms_service/build.gradle.kts
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleMutationResolver.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleQueryResolver.kt
Due: mongo-service-modified, rdbms-service-modified

bug fixed
  README.md
  mongo_service/src/main/resources/schema/user.graphqls
  rdbms_service/src/main/resources/schema/article.graphqls
Due: mongo-service-modified, rdbms-service-modified

tmp solution of using kotlin grpc
  rdbms_service/build.gradle.kts
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleGrpcService.kt
  rdbms_service/src/main/proto/hello_service.proto
Due: rdbms-service-modified
