Repository jeffreychuuu/kotlin_example_app: changes, and which CircleCI parameters are due for each by the changed paths.
All: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

add proto for article
  mongo_service/docker-compose.yml
  rdbms_service/build.gradle.kts
  rdbms_service/docker-compose.yml
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleGrpcService.kt
  rdbms_service/src/main/proto/article.proto
  rdbms_service/src/main/proto/hello_service.proto
Due: mongo-service-modified, rdbms-service-modified

update README
  README.md
Due: none

no working on using grpc client
  mongo_service/build.gradle.kts
  mongo_service/src/main/kotlin/com/example/mongo_service/ExternalService.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserRestController.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/user/UserService.kt
  mongo_service/src/main/proto/article.proto
  rdbms_service/build.gradle.kts
Due: mongo-service-modified, rdbms-service-modified

add support to gRPC client and update README
  README.md
  mongo_service/application.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/AppConfig.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/ExternalService.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/kafka/KafkaConsumer.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserFetcher.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserRepository.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserRestController.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserService.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/documents/UserDocument.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/dto/CreateUserDto.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/dto/UpdateUserDto.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/util/RedisUtil.kt
  mongo_service/src/main/kotlin/com/example/mongo_service/ExternalService.kt
  mongo_service/src/main/proto/article.proto
  mongo_service/src/test/kotlin/com/example/kotlin_example_app/MongoServiceApplicationTests.kt
Due: mongo-service-modified

update project structure
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/external/ArticleGrpcService.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserRestController.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleService.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/external/MongoRestService.kt
Due: mongo-service-modified, rdbms-service-modified

update README and to use common grpc lib to generate message and stub from proto
  README.md
  grpc_lib/build.gradle.kts
  grpc_lib/src/main/kotlin/com.kotlingrpc.demoGrpc/generated/main/grpc/demo/GreeterGrpc.java
  grpc_lib/src/main/kotlin/com.kotlingrpc.demoGrpc/generated/main/java/demo/HelloReply.java
  grpc_lib/src/main/kotlin/com.kotlingrpc.demoGrpc/generated/main/java/demo/HelloReplyOrBuilder.java
  grpc_lib/src/main/kotlin/com.kotlingrpc.demoGrpc/generated/main/java/demo/HelloRequest.java
  grpc_lib/src/main/kotlin/com.kotlingrpc.demoGrpc/generated/main/java/demo/HelloRequestOrBuilder.java
  grpc_lib/src/main/kotlin/com.kotlingrpc.demoGrpc/generated/main/java/demo/HelloWorldProto.java
  grpc_lib/src/main/kotlin/generated/main/grpc/com/example/kotlin_example_app/ArticleServiceGrpc.java
  grpc_lib/src/main/kotlin/generated/main/grpckt/com/example/kotlin_example_app/ArticleOuterClassGrpcKt.kt
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/Article.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleList.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleListOrBuilder.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleOrBuilder.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleOuterClass.java
  grpc_lib/src/main/proto/Hello_World.proto
  grpc_lib/src/main/proto/article.proto
  mongo_service/build.gradle.kts
  mongo_service/settings.gradle.kts
  rdbms_service/build.gradle.kts
  rdbms_service/settings.gradle.kts
Due: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

remove useless code from grpc server and client
  mongo_service/build.gradle.kts
  mongo_service/src/main/proto/article.proto
  rdbms_service/src/main/proto/article.proto
Due: mongo-service-modified, rdbms-service-modified

update common grpc package name
  grpc_lib/build.gradle.kts
  grpc_lib/src/main/kotlin/generated/main/grpc/com/example/kotlin_example_app/ArticleServiceGrpc.java
  grpc_lib/src/main/kotlin/generated/main/grpckt/com/example/kotlin_example_app/ArticleOuterClassGrpcKt.kt
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/Article.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleList.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleListOrBuilder.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleOrBuilder.java
  grpc_lib/src/main/kotlin/generated/main/java/com/example/kotlin_example_app/ArticleOuterClass.java
  grpc_lib/src/main/proto/article.proto
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/external/ArticleGrpcService.kt
  rdbms_service/build.gradle.kts
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleGrpcService.kt
Due: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

bug fix
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleGrpcService.kt
Due: rdbms-service-modified

Update README
  README.md
Due: none

change proto package name from common grpc lib
  .gitignore
  apollo-gateway/package-lock.json
  apollo-gateway/package.json
  grpc_lib/src/main/proto/article.proto
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/external/ArticleGrpcService.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserRestController.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleGrpcService.kt
Due: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

edit circleci workflow
  .circleci/workflows.yml
  .gitignore
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 2
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 3
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 4
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 5
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 6
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 7
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 8
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

Revert "edit circleci workflow - 8"
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 9
  .circleci/workflows.yml
  grpc_lib/build.gradle.kts
Due: grpc-lib-modified

edit circleci workflow - 10
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 11
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 12
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

edit circleci workflow - 13
  .circleci/workflows.yml
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/MongoServiceApplication.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/KotlinExampleAppApplication.kt
Due: mongo-service-modified, rdbms-service-modified

complete workflow
  .circleci/workflows.yml
Due: none

add one more grpc method
  grpc_lib/src/main/proto/article.proto
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/external/ArticleGrpcService.kt
  mongo_service/src/main/kotlin/com/example/kotlin_example_app/user/UserRestController.kt
  rdbms_service/src/main/kotlin/com/example/kotlin_example_app/article/ArticleGrpcService.kt
Due: grpc-lib-modified, mongo-service-modified, rdbms-service-modified

update version of protobuf-gradle-plugin
  grpc_lib/build.gradle.kts
Due: grpc-lib-modified

update workflow
  .circleci/workflows.yml
Due: none

Path conditions:
  grpc-lib-modified: any of: grpc_lib/.*
  mongo-service-modified: any of: mongo_service/.*
  rdbms-service-modified: any of: rdbms_service/.*
